table{
 width:100%;
 border-collapse:collapse;
 margin-top:20px;
 background:white;
}

th,td{
 border:1px solid #ddd;
 padding:10px;
 text-align:left;
}

th{
 background:#f0f0f0;
}

button{
 padding:6px 10px;
}